.navbar.transparent {
    background:0 0;
    border-bottom:none;
    margin-bottom:0;
    position:absolute;
    width:100%;
    z-index:1;
}
.nav-translucent:hover, .nav-translucent:focus {
    background: #2222 !important;
}
.bg-img {
    background-image: url('/assets/headphones.jpg') !important;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(32,156,238, .8);
}